NEXT_PUBLIC_SITE_URL=

PAYPAL_CLIENT_ID=
PAYPAL_CLIENT_SECRET=
NEXT_PUBLIC_PAYPAL_CLIENT_ID=
PAYPAL_ENVIRONMENT=sandbox
PAYPAL_RECEIVER_EMAIL=toany.official@toany.app

HOLIDAY_API_KEY=

DATABASE_URL=

NEXT_PUBLIC_CONTACT_EMAIL=toany.official@toany.app
NEXT_PUBLIC_CONTACT_PHONE=
NEXT_PUBLIC_KAKAO_CONTACT_URL=
NEXT_PUBLIC_BUSINESS_HOURS=
